<label>
  <span>Movie Title</span>
  {{input placeholder="e.g Spiderman" class="input-text" type="text" value=round.title}}
</label>

<label>
  <span>Code</span>
  {{input placeholder="e.g. SPIDEY" class="input-text" type="text" value=round.code}}
</label>

<button class="submit-button" type="submit">Submit</button>
