<ul class="nav__menu">
  {{#unless session.isAuthenticated}}
    <li class="nav__item">
      {{#link-to "sign-in" class="nav__link"}}
        <div class="media">
          <p class="media__content">
            <strong>Sign In</strong>
          </p>
        </div>
      {{/link-to}}
    </li>
  {{/unless}}
  {{#each @rounds as |round|}}
    <li class="nav__item">
      <a href="#{{round.code}}" class="nav__link" data-scroll-to>
        <div class="media">
          <img src={{round.poster}} alt="" class="media__img">
          <p class="media__content">
            <strong>{{round.title}}</strong>
          </p>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
