// Movie Wager Application CSS
//
// This file will import all application styles

@import 'base/variables';

// routes
@import 'routes/admin';
@import 'routes/index';

// components
@import 'components/flash-message'
