// Movie Wager Application CSS
//
// This file will import all application styles

@import "base/variables";

// routes
@import "routes/admin";
@import "routes/application";
@import "routes/index";
@import "routes/leaderboard";
@import "routes/pages";
@import "routes/round";

// components
@import "components/flash-message";
@import "components/nav-bar";
