$header-height: 4rem;
$section-height: 500px;
$nav-width: 20%;
$footer-height: 4rem;
$border-radius: .5rem;
$default-spacing: 2rem;

$black: #000;
$white: #fff;
$white-fade: rgba($white, .1);
$white-fade-clear: rgba($white, .035);
$gray-dark: #121519;
$gray: #a0a0a0;
$gray-light: #f3f3f3;

$indigo: #6c73dc;
$teal: #89cdce;
$lightblue: #66aee5;

$clear: rgba(0, 0, 0, 0);
$half-clear: rgba(0, 0, 0, .5);
$quarter-clear: rgba(0, 0, 0, .25);
