{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash}}
    {{flash.message}}
  {{/flash-message}}
{{/each}}

{{nav-bar currentUser=currentUser logout=(route-action "logout")}}

<div class="body-wrapper">
  {{outlet}}
</div>
