.nav-bar {
  background-color: $white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__list {
    display: flex;
    list-style: none;

    h4 {
      margin: 0;
    }
  }

  &__item {
    font-family: $molengo;
    padding: 0 20px;

    a {
      color: $light-blue;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

.box-shadow {
  box-shadow: 0 2px 20px $darkest-grey;
}
