<section class="login-page">
  <h1>Movie Wager</h1>
  <h3>Sign in</h3>

  <button class="submit-button" {{action (route-action "signIn")}}>
    Sign in with Twitter {{fa-icon "twitter"}}
  </button>

  <p>
    You will need to sign in with your twitter account in order to place a
    wager. Don't have a Twitter account? Well... you can't play, then.
  </p>
</section>
