{{workview-nav}}

<main class="main">
  <section class="form-container">
    <h1>Movie Round Creator</h1>
    {{#if session.isAuthenticated}}
      {{movie-round-form
        round=round
        submitAction=(action "submit")}}
    {{else}}
      You need to be logged in as an admin.
    {{/if}}
  </section>
</main>
