.movie-title {
  display: block;
  font-family: $bangers;
  font-size: 35px;
}

.splash-image {
  background: linear-gradient($black-transparent, $black-transparent), url("/images/movie-bg.jpg") no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;
  width: 100%;

  .greeting {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $bangers;
    justify-content: center;
    text-align: center;
    width: 100%;

    &__title {
      font-size: 75px;
      letter-spacing: 10px;
    }

    &__welcome {
      font-size: 35px;
      letter-spacing: 10px;
    }

    &__description {
      font-family: $molengo;
      font-size: 25px;
      justify-content: center;
      margin: 0 auto;
      width: 50%;
    }
  }
}

.link-wrapper {
  display: flex;
  margin: 0 auto;
  width: 50%;

  .wager-links {
    background-color: $light-blue;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $molengo;
    font-size: 20px;
    font-style: normal;
    margin: 10px auto;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    width: 45%;
  }
}
