.leaderboard {
  font-family: $molengo;
  font-size: 25px;
  margin: 0 auto;
  max-width: 500px;
  width: 50%;

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  img {
    border: 2px solid;
    border-radius: 5px;
  }

  &__count {
    font-size: 30px;
    text-align: center;
    width: 10%;
  }
}
