.wager-wrapper {
  width: 100%;

  .wager {
    margin: 0 auto;
    max-width: 500px;
    width: 50%;
  }
}

.chart-wrapper {
  margin: 0 auto;
  width: 700px;

  .movie-chart {
    overflow: visible;
  }
}
