<section class="splash-image">
  <div class="greeting">
    <div class="greeting__container">
      <h1 class="greeting__title">Movie Wager</h1>
      {{#if username}}
        <h3 class="greeting__welcome">Hi, {{username}}</h3>
      {{/if}}
      <p class="greeting__description">
        The game is simple: predict how much a movie will make in the box office
        on its opening weekend. Then check back on Monday to see if you won!
      </p>
    </div>
  </div>
</section>

<section class="page-wrapper">
  {{#each model as |round|}}
    <h1 class="movie-title">{{round.title}}</h1>
    <div class="link-wrapper">
      {{#link-to "wager" round.id class="wager-links"}}
        {{fa-icon "usd"}} - Place a bet
      {{/link-to}}
      {{#link-to "round" round.id class="wager-links"}}
        {{fa-icon "bar-chart"}} - View current bets
      {{/link-to}}
    </div>
  {{/each}}
</section>
