<section class="splash-image">
  <div class="greeting">
    <div class="greeting__container">
      <h1 class="greeting__title">Movie Wager</h1>
      {{#if session.currentUser}}
        <h3 class="greeting__welcome">Hi, {{session.currentUser.givenName}}</h3>
      {{/if}}
      <p class="greeting__description">
        The game is simple: predict how much a movie will make in the box office
        on its opening weekend. Then check back on Monday to see if you won!
      </p>
    </div>
  </div>
</section>

<section class="page-wrapper">
  {{#each model as |round|}}
    <article class="round-card">
      {{#if round.poster}}
        <img src="{{round.poster}}">
      {{/if}}
      <div class="round-content">
        <h1 class="movie-title">{{round.title}}</h1>
        <div class="link-wrapper">
          {{#link-to "round" round.id class="wager-links"}}
            {{fa-icon "bar-chart"}} - View round
          {{/link-to}}
        </div>
      </div>
    </article>
  {{/each}}
</section>
