<section class="page-wrapper">
  <h1>Movie Wager</h1>
  <h3>Sign in</h3>

  <button class="submit-button" {{action "authenticateSession"}}>
    Sign in with Google {{fa-icon "google"}}
  </button>

  <p>
    You will need to sign in with your Google account in order to place a
    wager. Don't have a Google account? Well... you can't play, then.
  </p>
</section>
