<section class="form-container page-wrapper">
  <h2 class="form-header">You're betting on</h2>
  <h1>{{wager.movieRound.title}}</h1>
  <form class="movie-round-form">
    <label>
      <span>Amount</span>
      {{input class="input-text" type="number" value=wager.amount}}
    </label>

    <button class="submit-button" type="submit" {{action "placeWager"}}>
      Submit
    </button>
  </form>
</section>
